// ЦВЕТА


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ


white = #ffffff
white-2 = #fefefe
black = #000000
blue = #283645//*rgb(40, 54, 69);*//
gray = #f2f2f2
gray-dark = #e5e5e5
pink = #d22856//*rgb(210, 40, 80);*//
green = #2aab6d

tablet-width = 660px
desktop-width = 1200px
width-except-desktop = 959px
width-only-mobile = 659px

retina-dpi = 144dpi
retina-dppx = 1.5dppx