section.filters
	h2.visually-hidden Фильтр товаров
	form.filter(method='get' action='/echo.htmlacademy.ru')
		fieldset
			legend.filter__title Производители:
			ul
				li.filter__option
					input.visually-hiden.filter__option.filter__input--chekbox#filter__baxter-of-california(type='checkbox' name='Baxter of California' checked)
					label(for='filter__baxter-of-california') Baxter of California
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox#filter__mr-natty(type='checkbox' name='Mr Natty')
					label(for='filter__mr-natty') Mr Natty
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox#filter__suavecito(type='checkbox' name='Suavecito' checked)
					label(for='filter__suavecito') Suavecito
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox#filter__malin-goetz(type='checkbox' name='Malin+Goetz')
					label(for='filter__malin-goetz') Malin+Goetz
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox#filter__murrays(type='checkbox' name='Murray’s')
					label(for='filter__murrays') Murray’s
				li.filter-option
					input.visually-hiden.filter__option.filter__input--chekbox#filter__american-crew(type='checkbox' name='American Crew' checked)
					label(for='filter__american-crew') American Crew
		fieldset
			legend.filter__title ГРУППЫ ТОВАРОВ:
			ul
				li.filter-option
					input.visually-hiden.filter__option.filter__input--radio#filter__shaving(type='radio' name='product-group' value='shaving')
					label(for='filter__shaving') Бритвенные принадлежности
				li.filter-option
					input.visually-hiden.filter__option.filter__input--radio#filter__hair-care(type='radio' name='product-group' value='hair-care' checked)
					label(for='filter__hair-care') Средства для ухода
				li.filter-option
					input.visually-hiden.filter__option.filter__input--radio#filter__accessories(type='radio' name='product-group' value='accessories')
					label(for='filter__accessories') Аксессуары
			input.button.filter__button#button(type='submit' name='button' value='ПОКАЗАТЬ')