footer.page-footer
	.page-footer__wrapper
		.page-footer__header
			p.page-footer__text Остались вопросы?
				br
				| Свяжитесь с нами!
		.page-footer-contacts
			b.contact__title Звоните:
			a.contact__fone(href='tel:+7 (812) 555-66-66')
				span.contact__fone-mobile +7 (812) 555-66-66
			br
			b.contact__title Пишите:
			a.contact__email(href='email:mail@htmlacademy.ru')
				span.contact__email-mail mail@htmlacademy.ru
			br
			b.contact__title Приезжайте в гости:
			p.contact__text ул. Большая
				br
				| Конюшенная, 19/8
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2660.520016404288!2d23.294371215918705!3d48.17733137922665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47382944e1dd12cb%3A0xe49393db0e931859!2sLotos!5e0!3m2!1sru!2sua!4v1517819236690', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')