doctype html
html(lang='ru')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1')
		title
			block title
	body
		block main