header.main-header
	nav.main-nav
		a.main-header__logo
			img.logo(src=require('../../assets/images/index-logo.png'), width="371" alt="logo")
		.main-nav__wrapper
			.container
				ul.main-nav__list
					li.main-nav__item
						a(href='#contacts') Информация
					li.main-nav__item
						a(href='#') новости
					li.main-nav__item
						a(href='price.html') прайс-лсит
					li.main-nav__item
						a(href='catalog.html') магазин
					li.main-nav__item
						a(href='#') контакты
				ul.main-nav__entrance
					li.login__item
						a.login__link(href='#') Вход




