nav.main-nav
	ul.main-nav__list
		li.main-nav__item
			a(href='#contacts') Информация
		li.main-nav__item
			a(href='#') новости
		li.main-nav__item
			a(href='#') прайс-лсит
		li.main-nav__item
			a(href='/catalog.html') магазин
		li.main-nav__item
			a(href='#') контакты
	ul.main-nav__entrance
		li.login__link(href='#') Вход