nav.main-nav
	button.main-nav__toggle(type='button') Открыть меню
	.main-nav__wrapper
		ul.main-nav__list.site-list
			li.site-list__item.site-list__item--active
				a Главная
			li.site-list__item
				a(href='photo.html') Фотографии
			li.site-list__item
				a(href='form.html') Конкурс
			li.site-list__item
				a(href='photo.html') HTML Academy