//Инструменты
@import "utils/fonts.styl"
@import "utils/mixins.styl"
@import "utils/vars.styl"
//Библиотека
//@import "libs.styl"
//Главная
@import "main.styl"
//страницы
@import "pages/index.styl"
@import "pages/product.styl"
////Модули
@import "modules/modules.styl"
////BEM
//@import "blocks/*"