mixin icon(name, id)
svg.icon(width='15', height='15', viewbox='0 0 2500 2500', aria-labelledby='title desc', role='presentation')
	title title
	desc#description desc
	use(xlink:href='image/catalog/icon/sprites.svg#viber')