extends ../modules/head
block title
	| Barbershop - главная
block main
	include ../modules/header
	main.page
		h1.visually-hidden Барбершоп Бородинский
		section.offers
			h2.visually-hidden Преимущества
			ul.offers__list
				li.offers__item
					h3.offers__title быстро
					p.offers__description МЫ ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И ВЫ — СЧАСТЛИВЫЙ ОБЛАДАТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!
				li.offers__item
					h3.offers__title круто
					p.offers__description ЗАБУДЬТЕ, КАК ВЫ СТРИГЛИСЬ РАНЬШЕ. МЫ СДЕЛАЕМ ИЗ ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО! ВО ВСЯКОМ СЛУЧАЕ ВНЕШНЕ.
				li.offers__item
					h3.offers__title дорого
					p.offers__description НАШИ МАСТЕРА — ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И НЕ МОГУТ СТОИТЬ ДЕШЕВО. К ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?
		.news__wrapper
			section.news
				h2 Новости
				ul.news__list
					li.news__item
						p.news__description НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО ВРЕМЯ СТРИЖКИ
						time.news__date(datetime="2016-01-11") 11 января
					li.news__item
						p.news__description В НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС «БРИТВА» СТРИГУНЕЦ, ОБЛАДAТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И НАГРАД ПОПОЛНИЛ НАШИ СТРОЙНЫЕ РЯДЫ
						time.news__date(datetime='2016-01-18') 18 января
					a.button.news__button(href='#' type='button') ВСЕ НОВОСТИ
			section.gallery
				h2 Фотогалерея
				figure.gallery__content
					a.gallery__link( href='#')
						img.gallery__img(src=require('../../assets/images/layer-21.jpg'), width="286" height="164" alt="gallery")
				.gallery_container
					button.button.gallery__button.gallery__button--back(type='button' disabled) Назад
					button.button.gallery__button.gallery__button--next(type='button') Вперед
		.contacts__wrapper
			section.contacts
				h2 КОНТАКТНАЯ ИНФОРМАЦИЯ
				p.contacts__addresses БАРБЕРШОП «БОРОДИНСКИЙ»
				span АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, Б. КОНЮШЕННАЯ, Д. 19/8
				a.contacts__phone(href="tel:+74956660266") ТЕЛЕФОН: +7 (495) 666-02-66
				p.contacts__time ВРЕМЯ РАБОТЫ:
				| ПН—ПТ: С 10:00 ДО 22:00
				br
				span СБ—ВС: С 10:00 ДО 19:00
				.contacts__container
					a.button.contacts__button.contacts__button-map(href='#' type='button') КАК ПРОЕХАТЬ
					a.button.contacts__button(href='#' type='button') ОБРАТНАЯ СВЯЗЬ
			section.appointment
				h2 ЗАПИСАТЬСЯ
				p.appointment__addresses УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И ВРЕМЯ И МЫ СВЯЖЕМСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ БРОНИ
				form.appointment__form#contacts__form(method="post" action='/echo')
					p.appointment__item
						label(for='appointment__date') Дата
						input#appointment__date(type='text' name='date' required='' placeholder='08.10.2017')
					p.appointment__item
						label(for='appointment__time') время
						input#appointment__time(type='text' name='time' required='' placeholder='10:00')
					p.appointment__item
						label(for='appointment__name') Ваше имя
						input#appointment__name(type='text' name='name' required='' placeholder='Борода')
					p.appointment__item
						label(for='appointment__phone') Телефон
						input#appointment__phone(type='tel' name='tel' required='' placeholder='+7 123 456-78-90')
					input.button(type='submit' name='button' value='ОТПРАВИТЬ')
	include ../modules/footer
	include ../modules/modal__login
	include ../modules/moda__map


