@font-face
	font-family "PT Sans Narrow"
	font-style normal
	font-weight regular
	src local("PT Sans Narrow"),
	url("../fonts/PTSans-Narrow-Web-Regular.woff2") format("woff2"),
	url("../fonts/PTSans-Narrow-Web-Regular.woff") format("woff")

@font-face
	font-family "PT Sans Narrow"
	font-style normal
	font-weight bold
	src url("../fonts/PTSans-Narrow-Web-Bold.woff2") format("woff2"),url("../fonts/PTSans-Narrow-Web-Bold.woff") format("woff")

//@font-face
//	font-family "PT Sans Narrow"
//	font-style normal
//	font-weight medium
//	src url("../fonts/roboto-medium-webfont.woff2") format("woff2"),url("../fonts/roboto-medium-webfont.woff") format("woff")
