// ЦВЕТА

white = #ffffff
white-2 = #fefefe
black = #000
blue = #283645//*rgb(40, 54, 69);*//
gray = #f2f2f2
gray-dark = #e5e5e5
pink = #d22856//*rgb(210, 40, 80);*//
red = #fb565a
green = #00ca74
yellow = #efc84a


// РАЗМЕРЫ
baseFontSize = 14px
regular = 400
medium = 500
bold = 700


// ШРИФТЫ
basefont = 'PT Sans Narrow', Arial, sans-serif

tablet-width = 660px
desktop-width = 1200px
width-except-desktop = 959px
width-only-mobile = 659px

retina-dpi = 144dpi
retina-dppx = 1.5dppx